:root {
    --side: 10;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(var(--side), 1fr);
    grid-template-rows: repeat(var(--side), 1fr);
    width: 750px;
    height: 750px;
}

.cell {
    border: 1px solid black;
}