:root {
    --side: 10;
}

body h1 {
    text-align: center;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(var(--side), 1fr);
    grid-template-rows: repeat(var(--side), 1fr);

    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
}

.cell {
    border: 1px solid black;  
    font-weight: bold;
    font-size: x-large;

    display: flex;
    justify-content: center;
    align-items: center;    
}

#players {
    display: flex;
    justify-content: space-between;

    width: 500px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.2rem;
}

.highlight {
    background-color: yellow;
}